* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.4 Helvetica, sans-serif;
}

#page-wrap {
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	padding: 20px;
}

.date {
	float: right;
	margin: 20 0 20;
}

#date {
	text-align: right;
}

textarea {
	border: 0;
	font: 14px Helvetica, sans-serif;
	overflow: hidden;
	resize: none;
}

table {
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid black;
	padding: 5px;
}

/* #male-th{
	text-align: left;
	text-indent: 4em;
} */

#header {
	height: 80px;
	width: 100%;
	margin-top: 20px;
	/* background: #222; */
	text-align: center;
	color: rgb(0, 0, 0);
	font: 15px Helvetica, Sans-Serif;
	text-decoration: uppercase;
	padding: 8px 0px;
}

#address {
	width: 250px;
	height: 150px;
	float: left;
}

#inside-address {
	overflow: hidden;
	float: left;
	margin-bottom: 40px;
	text-align: left;
}

#inside-address-content {
	font: 15px Helvetica, Sans-Serif;
	height: 60px;
	width: 280px;
}

#attention {
	float: left;
	width: 100%;
	height: 60px;
	color: rgb(0, 0, 0);
	font: 15px Helvetica, Sans-Serif;
	text-decoration: uppercase;
	padding: 8px 0px;
}

#attention-content {
	width: 100%;
	text-align: center;
}

#greetings {
	overflow: hidden;
	float: left;
	margin-bottom: 0;
	text-align: left;
}

#greetings-txt {
	font: 15px Helvetica, Sans-Serif;
	height: 30px;
	width: 180px;
}

#letter-body {
	float: left;
	width: 100%;
	height: 60px;
	color: rgb(0, 0, 0);
	font: 15px Helvetica, Sans-Serif;
	text-decoration: uppercase;
	padding: 8px 0px;
	margin-bottom: 20px;
}

#letter-body-content {
	width: 100%;
	text-align: justify;
	text-indent: 2em;
}

/*table*/

#students {
	clear: both;
	table-layout: auto;
	width: 100%;
	margin: 30px 0 30px 0;
	border: 1px solid black;
}

#students th {
	background: #eee;
}

tr{
	text-align: center;
}

td {
	border: 1px solid black;
	text-align: center;
	font: 15px Helvetica, Sans-Serif;
}

.gender{
	text-align: left;
}

#students textarea {
	width: 80px;
	height: 50px;
}

#students tr.item-row td {
	vertical-align: top;
}

#students td.description {
	width: 300px;
}

#students td.stud-no {
	width: 100px;
}

#students td.description textarea, #students td.stud-no textarea {
	width: 100%;
}

#students td.total-line {
	border-right: 0;
	text-align: right;
}

#students td.total-value {
	border-left: 0;
	padding: 10px;
}

#students td.total-value textarea {
	height: 20px;
	background: none;
}

#students td.balance {
	background: #eee;
}

#students td.blank {
	border: 0;
}
/*below table*/
#note {
	float: left;
	width: 100%;
	height: 60px;
	color: rgb(0, 0, 0);
	font: 15px Helvetica, Sans-Serif;
	text-decoration: uppercase;
	padding: 8px 0px;
	text-indent: 2em;
	margin-bottom: 60px;
}

/* #eval-committee-header{
	float: left;
	width: 100%;
	padding: 0 0 8px 0;
	margin: 20px 0 50px 0;
} */

h5 {
	text-transform: uppercase;
	font: 13px Helvetica, Sans-Serif;
	font-weight: bold;
	text-align: center;
	padding: 0 0 8px 0;
	margin: 20px 0 50px 0;
}

/* members*/
.col {
	text-align: center;
}
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
    clear: both;
}

.row{
	margin-bottom: 60px;
}

/* #members{
	width: 100%;
	height: auto;
}

#member1 {
	text-align: left;
	float: left;
	width: 20%;
}

#member2{
	text-align: right;
	float: right;
	width: 20%;
} */

h6{
	font: 13px Helvetica, Sans-Serif;
}

h6.member-name {
	font-weight: bold;
	text-transform: uppercase;
}

/*Co-chair and chair*/

#co-chair{
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

#chair{
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

textarea:hover, textarea:focus, #students td.total-value textarea:hover, #students td.total-value textarea:focus, .delete:hover {
	background-color: #eee;
}

.delete-wpr {
	position: relative;
}

@media print{
	#page-wrap {
		width: 100%;
		margin: 0;
		padding: 20px;
		border: none;
	}
}